
html {
    scroll-behavior: smooth;
}

body {
    font-style: normal;
    line-height: normal;
    letter-spacing: 0;
}


h1, h2, h3, h4, p {
    margin: 0;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


button {
    font: inherit;
    cursor: pointer;
    border: none;
}





    .form-btn {
        display: flex;
        justify-content: center;
        background-color: #008CBA;
        border: none;
        padding: 12px 12px;
        font-size: 16px;
        border-radius: 5px;
        color: white;
        position: relative;
        margin: 25px auto;
    }

    ul {
        list-style: none;
    }

    .form-add-books {

        justify-content: start;
        align-items: start;
        flex-direction: column;
        padding: 20px;
        background: white;
        border-radius: 5px;
        z-index: 2;
        width: 300px;
        height: 400px;
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .form-overlay {
        background: #008CBA;
        opacity: 0.15;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: none;
        margin: 0;

    }


    .main-text {
        text-align: center;
        justify-content: center;
        font-family: Serif;
        text-transform: uppercase;
        margin-top: 100px;

    }

    .form-in-btn,
    .book-btn-status {
        display: flex;
        justify-content: center;
        background-color: #008CBA;
        border: none;
        padding: 12px 40px;
        font-size: 16px;
        border-radius: 5px;
        color: white;
        position: relative;
        margin: auto;
    }

    .form-cl-btn,
    .book-btn-delete {
        display: flex;
        justify-content: center;
        background-color: #B31B1B;
        border: none;
        padding: 12px 40px;
        font-size: 16px;
        border-radius: 5px;
        color: white;
        position: relative;
        margin: auto;

    }

    .book-btn-delete {
        font-size: 14px;

    }


    .book-btn-status {
        padding: 12px 25px;
        font-size: 14px;
    }

    .form-title {
        padding-left: 78px;
        display: flex;
        font-family: Serif;
        text-transform: uppercase;
        font-weight: bold;
    }


    .form-label:not(:first-of-type) {
        padding-top: 15px;
    }

    .form-input {
        margin-left: 10px;
        width: 90%;
        margin-top: 3px;
        height: 35px;
    }

    .form-label:first-of-type {
        padding-top: 25px;
    }

    .form-btns-box {
        display: flex;
        gap: 30px;
        padding-top: 20px;
    }

    .book-btns {
        display: flex;
        padding-top: 35px;
        gap: 0;
    }


    .form-check-box {
        padding-top: 15px;
        text-align: center;
        display: flex;
        gap: 10px;
    }

    .form-check {
        width: 18px;
        height: 18px;
        margin: 0;
    }

    .books-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin: 70px 70px;
        padding: 0;

    }

    .book-item {
        display: flex;
        flex-direction: column;
        width: 320px;
        height: 280px;
        border: #008CBA 1.5px solid;
        border-radius: 5px;


    }

    .book-title {
        font-family: Serif;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        border-bottom: 1.5px solid #008CBA;
        padding-bottom: 12px;
        margin-top: 14px;
    }

    .book-author,
    .book-status,
    .book-pages {
        font-family: Serif;
        text-align: start;
        margin: 10px 10px;

    }




@media screen and (max-width: 1199.9px) {


    .books-box{
        display: flex;
        justify-content: center;
        margin-top: 70px;
    }
    .books-list{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        margin: 0;
    }

    .form-add-books{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 767.9px) {
    .main-text{
        font-size: 20px;
    }

    .books-box{
        display: flex;
        justify-content: center;
    }
    .books-list{
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
        margin-top: 50px;
    }

    .form-btn{
        margin: 20px auto;
    }
    .form-add-books{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
